.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.v-text-field__prefix {
  padding-right: .5em !important;
}

.pointer {
  cursor: pointer;
}

.primary--bg {
  background-color: rgba(254, 235, 235) !important;
}

.pin input {
  letter-spacing: 1.5rem;
  font-size: 2rem;
}
